<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="d-flex justify-content-center form_container">
        <div class="user_card">
            <%= render 'form', user: @user %>

            <%= link_to 'Back', root_path, :class=>"btn back_btn" %>
        </div>
    </div>
  </div>
</div>